/**==================RESET CSS===================*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/**======================USER CSS========================*/
/*==============CONNECT FONTS=================*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700;);

@font-face {
	font-family: "Circular-Std-Book";
	font-weight: 450;
	src: url(../fonts/FontsFree-Net-Circular-Std-Book-2.ttf);
}

@font-face {
	font-family: "Circular-Std-Book-Medium-Italic";
	font-weight: 500;
	src: url(../fonts/FontsFree-Net-Circular-Std-Book-2.ttf);
}

@font-face {
	font-family: "Gilroy Semibold";
	font-weight: 600;
	src: url(../fonts/gilroy-semibold.ttf);
}

@font-face {
	font-family: "Gilroy Bold";
	font-weight: 700;
	src: url(../fonts/gilroy-bold.ttf);
}

@font-face {
	font-family: "Gilroy Extrabold";
	font-weight: 800;
	src: url(../fonts/gilroy-black.ttf);
}

@font-face {
	font-family: "Gilroy Bold Italic";
	font-weight: 700;
	src: url(../fonts/gilroy-bolditalic.ttf);
}

/*======================VARIABLES===================*/
$minWidth: 250px;
$maxWidth: 1177px;
$maxWidthContainer: 1201px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$back-color:#E5E5E5;
$orange:#FF9401;
$gray:#675959;
$black: #232323;

.general-btn{
	font-family: "Circular-Std-Book";
	font-size: 20px;
	padding: 16px 33px;
	background-color: #FF9401;
	border-radius: 31px;
	width: 243px;
	&:hover{
		transition: background-color 0.3s ease 0.1s;
		background-color: #ffa01c;
	}
	box-shadow: 0 10px 50px #ffbc5d; 
}
.title{
	color: $orange;
	font-size: 24px;
	font-family: 'Gilroy Semibold';
}
.subtitle{
	font-family: "Gilroy Bold"
}